{% load static %}
<!doctype html>
<html lang="ru">
  <body>
    <h1>Регистрация</h1>
    <form method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div>{{ form.username.label_tag }} {{ form.username }} {{ form.username.errors }}</div>
      <div>{{ form.email.label_tag }} {{ form.email }} {{ form.email.errors }}</div>
      <div>{{ form.phone.label_tag }} {{ form.phone }} {{ form.phone.errors }}</div>
      <div>{{ form.password1.label_tag }} {{ form.password1 }} {{ form.password1.errors }}</div>
      <div>{{ form.password2.label_tag }} {{ form.password2 }} {{ form.password2.errors }}</div>
      <button type="submit">Создать аккаунт</button>
    </form>
    <p><a href="{% url 'login' %}">У меня уже есть аккаунт</a></p>
  </body>
</html>
